---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
const { title = "Astro" } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-100">
    <Navbar />
    <main class="w-[80vw] mx-auto my-8">
      <slot />
    </main>
  </body>
</html>
